// PerformWhere UI
@import "@material/card/mdc-card";

.pw-title {
	margin-top: -0.5rem !important;
}

.pw-instruction {
	font-size: 1.1rem;
}

.pw-footer {
	padding-bottom: 0.8rem;

	.pw-footer-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&> * {
			padding: 0.4rem 0.4rem 0 0.4rem;

			&:first-child {
				padding-right: 0.2rem;
			}
		}
	}
}

.pw-dedication {
	a { color: $color2dark; }
}

.pw-interface-wrapper {
	width: 100%;
	padding: 0 5vw 3.3vh 5vw;
	display: flex;
	justify-content: center;
}

.pw-interface {
	width: 100%;
	max-width: 800px;
	// border: 1px solid $color1;
	// border-radius: 1.5em;
	padding: 2em;
	@extend .mdc-card;
	@include mdc-card-shape-radius(1em, false);
}

.pw-interface--clickable {
	@extend .mdc-card__primary-action;
	
	// Compulsorily override Material design enforcement of 0 border radius from .mdc-card__primary-action
	border-radius: 1em !important;
}

input.pw-input {
	@extend .input;

	&.within-grid {
		// for use in .pw-form-griditem
		width: auto;
		flex: 1 0 2em;
		text-align: center;
	}
}

div.select.pw-select {
	&._short { max-width: 6rem; }
	&._med { max-width: 10rem; }
	&._long { max-width: 14rem; }

	&> select {
		font-weight: bold;
		text-align: center;
		color: $color2; // override bulma defaults
		
		&:hover {
			border-color: $primary;
		}

	}

	&:not(.is-multiple):not(.is-loading):hover::after {
		border-color: $primary;
	}

	&:not(.is-multiple):not(.is-loading)::after {
		border-color: $primary;
	}

	// &:not(.is-multiple):not(.is-loading):active::after {
	// 	border-color: rgba(0,0,0,0.4);
	// }
}

input.input.pw-input {
	max-width: 14rem;
	font-weight: bold;
	color: $color2;

	&:focus {
		border-color: $color1;
	}

	&::after {
		border-color: $color1;
		color: $color1;
	}
}

.pw-level {
	display: flex;
	align-items: baseline;

	.label, .qntext {
		font-size: 1.25rem;
		// margin: 0 0.5rem;
	}

	.label {
		margin-right: 1rem;
	}

	.qntext {
		margin-right: 0.5rem;
	}
}

@media (max-width: 768px) {
	.pw-level {
		display: block;
		margin-bottom: 2em;
	}

	span.label {
		display: inline;
	}

	input.input.pw-input {
		max-width: 100%;
		width: 100%;
	}

	div.select.pw-select {
		max-width: 100%;
		width: 100%;
		
		select {
			max-width: 100%;
			width: 100%;

			&._short, &._med, &._long {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

.br-mobile-only { display: none; }
@media (max-width: 768px) {
	.br-mobile-only { display: inherit }
}

div.pw-interface-wrapper.pw-results-area {
	display: none;
	
	&.show {
		display: flex;
	}
}
