@import url("https://fonts.googleapis.com/icon?family=Raleway|Source+Serif+Pro");

$family-sans-serif: 'Source Serif Pro', 'Helvetica Neue', -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
$syx-font: 'Raleway', $family-sans-serif;
$color1: #EF4F1F;
$color2: #0097a7;
$color2dark: #006b77;
$bg: #FEEEE9;

$primary: $color1;
$info: $color2;
$link: $color2;
$syx_spacer: 16px;

@import './styles/syx_layouts.scss';
@import "./styles/pw_ui.scss";
@import './styles/pw_results.scss';
@import './node_modules/bulma/bulma.sass';

.syx-font {
	font-family: $syx-font;
}

html {
	background-color: $bg !important;
}

body {
	padding-top: 2vh;
}

body b {
	color: $color1;
}
